/* ==============================
   BASE
============================== */
@import url("base/reset.css");
@import url("base/global.css");
@import url("base/animations.css");
@import url("base/responsive.css");

/* ==============================
   LAYOUT
============================== */
@import url("layout/header.css");
@import url("layout/footer.css");
@import url("layout/top10.css");
@import url("layout/carrossel.css");

/* ==============================
   COMPONENTS
============================== */
@import url("components/modal.css");
@import url("components/livro.css");
@import url("components/zoom.css");
@import url("components/aura.css");

/* ==============================
   THEMES
============================== */
@import url("themes/kaelira.css");
